
script_name=wonderempire.as
base_url=http://223.4.87.9
social_key=2OoI55uVJbB4eixy
offer_key=2zPChqtgXdSBO9Qa

orientation=0
package_name=com.papaya.wonderempire1_cn
app_name=奇迹帝国
social_game=1
force_update=1
region=CHINA
tab_name=奇迹帝国
source_name=jifeng
version_code=11
version_name=3.2
