
script_name=wonderempire.as
base_url=http://ec2-204-236-163-214.us-west-1.compute.amazonaws.com/
social_key=YCioehNqIiblGxqa
offer_key=bUrZnrK0v0ORB1wP

orientation=0
package_name=com.papaya.miracle
app_name=Miracle Empire
social_game=1
force_update=1
tab_name=Empire
version_code=7
version_name=2.5
